/* 모든 요소의 기본 여백 제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
    height: 100%;
    color: white;
    font-weight: bold;
}

.calculator-container {
    height: 320px;
    width: 230px;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 8px;
}

.buttons {
    background-color: #505050;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.circle {
    border-radius: 5px;
    width: 10px;
    height: 10px;
}

.red {
    background-color: #ff4646;
}

.yellow {
    background-color: #ffb024;
}

.green {
    background-color: #28c832;
}

.m8 {
    margin-right: 8px;
}

.display-header {
    display: flex;
}

.display-body {
    text-align: right;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 2rem;
}

.button-row {
    flex: 1;
    display: flex;
}

/* flex-basis 설명
flex-basis: auto -> 내용(content)이나 width에 따라 초기 크기 설정됨
flex-basis: 0% -> 초기 크기를 0으로 고정
*/
.button {
    flex: 1;
    /* 위와 같음 */
    /* flex: 1 1 0%; */
    /* 아래도 가능:1 */
    /* width: 50%;
    flex: 1 1 auto; */
    background-color: #505050;
    border: 0.5px solid #281e1e;
    user-select: none;
    /*드래그 방지*/
    /*center start*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*center end*/
}

.function {
    background-color: #372d2d;
}

.operator {
    background-color: #ff8c0f;
}
/* flex-shrink 설명
flex-shrink: 1	공간이 부족하면 비율에 따라 줄어듦
flex-shrink: 0	공간이 부족해도 절대 줄어들지 않음
*/
.zero {
    /* flex를 사용하지 않는 이유는 box-sizing을 사용하지 않는 이유는 box-sizing은 비율을 계산할 때 border를 무시하기 때문에*/
    min-width: 50%;
    /* 아래도 가능:1 */
    /* flex-shrink: 0; */
}

.button:hover {
    filter: invert(25%);
}

.button:active {
    filter: invert(100%);
}